<header class="main">
  <h1>All Entries</h1>
  <h3><%= pluralize(@entries.count, 'Entry') %></h3>
  <%=link_to 'New', "#", class: 'add-new-entry new' %>
</header>

<div class="add-bottom-space">
  <% if @entries.empty? %>
    <div class="gentle-nudge">
      <div class="gentle-nudge__text">
        <h5 class="is-centered is-padded">
          No entries.
          <%=link_to "Get Started!", new_entry_path, class: 'btn btn--simple new' %>
        </h5>
      </div>
    </div>
  <% else %>
    <div class="entries">
      <%= render :partial => 'entry', :collection => @entries %>
    </div>
  <% end %>
</div>