<header class="main">
  <h1>This Week</h1>
  <h3>
    <%= pluralize(@entries.count, 'Entry') %> &bullet;
    <%= pluralize(@week_minutes, 'Minutes') %>
  </h3>
</header>

<div class="add-bottom-space">
  <% if @entries.empty? %>
    No entries for today.
  <% else %>
    <div class="entries">
      <%= render :partial => 'entry', :collection => @entries, locals: { timestamp: true } %>
    </div>
  <% end %>
</div>