<div class="stats">
  <div class="stats__item">
    <h1><%= @total_minutes/60 %></h1>
    <h3>Total Hours Read</h3>
  </div>
  <div class="stats__item">
    <h1><%= @total_pages %></h1>
    <h3>Total Pages Read</h3>
  </div>
  <div class="stats__item">
    <h1><%= @total_books.length %></h1>
    <h3>Book Titles Read</h3>
  </div>
</div>