form {
  label {
    color: $color-blue;
    font-size: 80%;
    margin-bottom: .25rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    border: 0;
    border-bottom: 1px solid $color-blue;
    border-radius: 0;
    font-size: 1.5rem;
    margin: .25rem 0;
    padding: .5rem;
    transition: all .20s ease-in-out;
    width: 100%;

    &:active,
    &:focus {
      background: lighten($color-blue, 45%);
      outline: 0;
    }
  }

  select {
    font-size: 1rem;
    width: 100%;
  }
}

.messaging {
  font-size: 80%;
  margin: 1rem 0;
  text-align: center;

  .alert {
    background: gold;
    border-radius: 6px;
    padding: .5rem 0;
  }
}