$nav-height: 8rem;

.main {
  height: $nav-height;
  padding: 0 1rem;
  padding: 2rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
  width: 110%;
  margin: 0 -1rem;
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    color: #666666;
    font-size: 90%;
    font-weight: 400;
    line-height: 2;
  }
}

.navBar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78px;
  color: #777777;
  border-top: 1px solid #efefef;
  background: #fff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;

  a {
    color: #777777;
    text-decoration: none;
    position: relative;
  }

  li {
    font-size: 10px;
    list-style: none;
    padding: .6rem 0 0;
    text-align: center;

    h3 {
      font-weight: 100;
    }

    .icon {
      display: block;
      font-size: 24px;
      padding-bottom: .4rem;
    }
  }

  &__entry {
    flex: 0 1 auto;
    width: 25%;
    text-align: center; 
  }
  &__entry.active {
    * {
      color: #1895e1;
    }
  }
}

.sub {
  margin: 0;
  padding: 1rem;
  color: white;
  font-weight: 200;
  font-size: 90%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);

  &--blue {
    background: $color-blue;
  }

  .chevron {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    left: .75rem;
    top: .75rem;
    a {
      color: white;
    }
  }
  .edit {
    position: absolute;
    color: white;
    top: 1rem;
    right: 1rem;
    font-weight: 100;
    a {
      color: white;
      text-decoration: none;
      font-weight: 100;
    }
  }
}